<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="description" content="LERAMIZ Landing Page Template">
    <meta name="keywords" content="LERAMIZ, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <div style="color: white;text-align:center; border: 50px solid #000080; background-color: #000080" class="mynav_navbar">
        <a  @Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" })</a>
        <a  @Html.ActionLink("About Us", "About", "Home", null, new { style = "color:white" })</a>
        <a  @Html.ActionLink("Contact Us", "Contact", "Home", null, new { style = "color:white" })</a>
        <a style="margin-left: 1000px"></a>
        <div class="mynav_dropdown">
            <button class="mynav_dropbtn">
                Register
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="mynav_dropdown-content">
                <a @Html.ActionLink("Student", "Register", "Account", null, new { style = "color:#000080" })</a>
                <a @Html.ActionLink("Employee", "ERegister", "Account", null, new { style = "color:#000080" })</a>
            </div>
        </div>
        <a> @Html.ActionLink("Login", "Login", "Account", null, new { style = "color:white" }) </a>
        <a> @Html.ActionLink("HashBoard", "Admin", "Account", null, new { style = "color:white" }) </a>
    </div>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer style="color: white;text-align:center; border: 3px solid darkblue; background-color: darkblue;margin-top:200px">
=======
    <!-- Favicon -->
    <link href=@Url.Content("/Content/img/favicon.ico") rel="shortcut icon" />
>>>>>>> 4b5544510dfe16025a9d5d4916812f13e041b7cd

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    


</head>

<body>
   
    
    <!-- Header section end -->
    <!-- Clients section end -->

    @RenderBody()
</body>
</html>