@model IEnumerable<Final.Models.dbAllotment>

@{
    ViewBag.Title = "Allotment";
}

<h2>Allotment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllotmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_DateIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_DateOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AllotmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_DateIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_DateOut)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
