@model IEnumerable<Final.Models.dbEmployee>

@{
    ViewBag.Title = "EmployeesList";
}
<link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css") />
<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css") />
<link rel="stylesheet" href=@Url.Content("/Content/css/animate.css") />
<link rel="stylesheet" href=@Url.Content("/Content/css/owl.carousel.css") />
<link rel="stylesheet" href=@Url.Content("/Content/css/style.css") />

<html>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-lg-right header-top-right" style="margin: 0px 700px">
                        <div class="user-panel">
                            <a href=""><i class="fa fa-user-circle-o"></i> Register</a>
                            <a> @Html.ActionLink("Login", "Login", "Account", null, new { style = "color:white" }) </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-navbar">
                        <a href="#" class="site-logo"><h3 style="color: white">Hostel Management System</h3> </a>
                        <div class="nav-switch">
                            <i class="fa fa-bars"></i>
                        </div>
                        <ul class="main-menu">
                            <li><a> @Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" })</a></li>
                            <li><a> @Html.ActionLink("About Us", "About", "Home", null, new { style = "color:white" })</a></li>
                            <li><a> @Html.ActionLink("Contact Us", "Contact", "Home", null, new { style = "color:white" })</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg=@Url.Content("/Content/img/page-top-bg.jpg")>

        <h2 style="color:white;padding-top:220px;margin-top:0px;font-size:50px;margin-left:800px">EmployeesList</h2>

       
        <table class="table" style="text-decoration-color:white; margin-top:80px;color:white ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpCNIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpFatherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpPhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpDOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpDesignation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpIsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpPassword)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.EmpHostelName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpCNIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpFatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpPhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpDOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpDesignation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpIsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpPassword)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpHostelName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "SEdit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </section>

    <!-- feature category section -->
    <img src="~/Content/img/page-top-bg.jpg" style="height:800px;width:100%">
    <section class="feature-category-section spad" data-setbg=@Url.Content("/Content/img/page-top-bg.jpg")>
        <div class="container">

        </div>
    </section>



    <!-- Footer section -->
    <footer class="footer-section set-bg" data-setbg=@Url.Content("/Content/img/service-bg.jpg")>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-widget">
                    <img src="img/logo.png" alt="">
                    <p>Working towards a manageable system of hostels and providing a secure environment. With HMS, all the hostel statistics come under one roof.</p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-widget">
                    <div class="contact-widget">
                        <h5 class="fw-title">CONTACT US</h5>
                        <p><i class="fa fa-map-marker"></i>University of Engineering and Technology, Lahore, Pakistan </p>
                        <p><i class="fa fa-phone"></i>(+042) 666 121 4321</p>
                        <p><i class="fa fa-envelope"></i>info.HMS@gmail.com</p>
                        <p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6  footer-widget">
                    <div class="newslatter-widget">
                        <h5 class="fw-title">NEWSLETTER</h5>
                        <p>Subscribe your email to get the latest news about hostels. </p>
                        <form class="footer-newslatter-form">
                            <input type="text" placeholder="Email address">
                            <button><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-nav">
                    <ul>
                        <li><a href="">Home</a></li>

                        <li><a href="">About us</a></li>


                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/js/owl.carousel.min.js")></script>
    <script src=@Url.Content("/Content/js/masonry.pkgd.min.js")></script>
    <script src=@Url.Content("/Content/js/magnific-popup.min.js")></script>
    <script src=@Url.Content("/Content/js/main.js")></script>

</body>
</html>
