

@model  Final.Models.dbStudent
@{
    ViewBag.Title = "Register";
}
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/dot-luv/jquery-ui.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#S_DOB").datepicker();
        });
    </script>
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/animate.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/owl.carousel.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/style.css") />



    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="description" content="LERAMIZ Landing Page Template">
    <meta name="keywords" content="LERAMIZ, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href=@Url.Content("/Content/img/favicon.ico") rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">




    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-lg-right header-top-right" style="margin: 0px 700px">
                        <div class="user-panel">
                            <a href=""><i class="fa fa-user-circle-o"></i> Register</a>
                            <a> @Html.ActionLink("Login", "Login", "Account", null, new { style = "color:white" }) </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-navbar">
                        <a href="#" class="site-logo"><h3 style="color: white">Hostel Management System</h3> </a>
                        <div class="nav-switch">
                            <i class="fa fa-bars"></i>
                        </div>
                        <ul class="main-menu">
                            <li><a> @Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" })</a></li>
                            <li><a> @Html.ActionLink("About Us", "About", "Home", null, new { style = "color:white" })</a></li>
                            <li><a> @Html.ActionLink("Contact Us", "Contact", "Home", null, new { style = "color:white" })</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg=@Url.Content("/Content/img/page-top-bg.jpg")>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4 style="color: white; text-align: center; font-size: 30px; padding-top: 200px">Student Register </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.S_CNIC, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_CNIC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_RegNO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_RegNO, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_RegNO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_Name, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_FatherName, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_FatherName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_Address, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_PhoneNo, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_PhoneNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_DOB, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_CurrentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_CurrentDate, new { htmlAttributes = new { ReadOnly = "false", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_CurrentDate, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_Email, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.S_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.S_Password, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.S_Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="color: white; margin-left:650px; font-size: 17px">

                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", style = "width: 260px ; height:25px" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: black; margin-left:750px; font-size: 50px">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </section>



    <!-- feature section -->
    <!-- feature section end -->
    <!-- feature category section -->
    <img src="~/Content/img/page-top-bg.jpg" style="height:800px;width:100%">
    <section class="feature-category-section spad" data-setbg=@Url.Content("/Content/img/page-top-bg.jpg")>
        <div class="container">

        </div>
    </section>



    <!-- Footer section -->
    <footer class="footer-section set-bg" data-setbg=@Url.Content("/Content/img/service-bg.jpg")>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-widget">
                    <img src="img/logo.png" alt="">
                    <p>Working towards a manageable system of hostels and providing a secure environment. With HMS, all the hostel statistics come under one roof.</p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-widget">
                    <div class="contact-widget">
                        <h5 class="fw-title">CONTACT US</h5>
                        <p><i class="fa fa-map-marker"></i>University of Engineering and Technology, Lahore, Pakistan </p>
                        <p><i class="fa fa-phone"></i>(+042) 666 121 4321</p>
                        <p><i class="fa fa-envelope"></i>info.HMS@gmail.com</p>
                        <p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6  footer-widget">
                    <div class="newslatter-widget">
                        <h5 class="fw-title">NEWSLETTER</h5>
                        <p>Subscribe your email to get the latest news about hostels. </p>
                        <form class="footer-newslatter-form">
                            <input type="text" placeholder="Email address">
                            <button><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-nav">
                    <ul>
                        <li><a href="">Home</a></li>

                        <li><a href="">About us</a></li>


                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/js/owl.carousel.min.js")></script>
    <script src=@Url.Content("/Content/js/masonry.pkgd.min.js")></script>
    <script src=@Url.Content("/Content/js/magnific-popup.min.js")></script>
    <script src=@Url.Content("/Content/js/main.js")></script>

</body>
</html>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type= "text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobstructive.min.js")" type="text/javascript"></script>



