

@model Project2.Models.dbStudent
@{
    ViewBag.Title = "Register";
}
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/dot-luv/jquery-ui.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#S_DOB").datepicker({ dateFormat: "dd/mm/yy" });
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="color: darkblue; text-align: center; font-size: 30px">Student Register </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
            @Html.LabelFor(model => model.S_CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
   
                    @Html.EditorFor(model => model.S_CNIC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_CNIC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
                @Html.LabelFor(model => model.S_RegNO, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_RegNO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_RegNO, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
                @Html.LabelFor(model => model.S_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_Name, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
         
                @Html.LabelFor(model => model.S_FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_FatherName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_FatherName, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
           
                @Html.LabelFor(model => model.S_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_Address, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
         
                @Html.LabelFor(model => model.S_PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_PhoneNo, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
           
                @Html.LabelFor(model => model.S_DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_DOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_DOB, "", new { @class = "text-danger" })
                </div>
</div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
                @Html.LabelFor(model => model.S_CurrentDate, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_CurrentDate, new { htmlAttributes = new { ReadOnly = "false" } })
                    @Html.ValidationMessageFor(model => model.S_CurrentDate, "", new { @class = "text-danger" })
                </div>
</div>




        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
                @Html.LabelFor(model => model.S_Email, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_Email, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
            
                @Html.LabelFor(model => model.S_Password, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.S_Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_Password, "", new { @class = "text-danger" })
                </div>
        </div>
        <div class="form-group" style="color: black; margin-left:700px; font-size: 17px">
          
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group" style="color: black; margin-left:750px; font-size: 50px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
        

        <div class="form-group" >
            <div class="col-md-offset-2 col-md-2">
                <label class="label-success">@ViewBag.Message</label>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

